.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #111;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
   /* Use a futuristic font */

  /* Neon glow effect */
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
}

input {
  width: 90%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  outline: none;
  background-color: rgb(30, 158, 201);
  color: #0f0; /* Neon green text */
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%; /* Ensure the container takes up the full width */
}

button {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  background-color: #333;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  cursor: pointer;
  color: #0f0; /* Neon green text */
  transition: background-color 0.3s, color 0.3s;
}

button:active {
  background-color: #555;
}

.result {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: #0f0;
  font-family: 'Orbitron', sans-serif;
}

button:hover {
  background-color: #555; /* Adjust the color for the hover effect */
}

button:active {
  background-color: #777; /* Adjust the color for the active (pressed) state */
}

/* Style for the "C" button */
button.c-button {
  background-color: #ff5733; /* Neon orange color for the "C" button */
  color: #000; /* Text color for better visibility on the neon orange background */
}

button.c-button:hover {
  background-color: #0f0;
}